/*Color */
/*values */
/** margin-top */
.margin-top-100 {
  margin-top: 100px; }

.margin-top-xl {
  margin-top: 40px; }

.margin-top-l {
  margin-top: 30px; }

.margin-top-m {
  margin-top: 20px; }

.margin-top-s {
  margin-top: 10px; }

/** margin-left */
.margin-left-xl {
  margin-left: 40px; }

.margin-left-l {
  margin-left: 30px; }

.margin-left-m {
  margin-left: 20px; }

.margin-left-s {
  margin-left: 10px; }

/** margin-right */
.margin-right-xl {
  margin-right: 40px; }

.margin-right-l {
  margin-right: 30px; }

.margin-right-m {
  margin-right: 20px; }

.margin-right-s {
  margin-right: 10px; }

/** margin */
.margin-xl {
  margin-right: 40px; }

.margin-l {
  margin-right: 30px; }

.margin-m {
  margin-right: 20px; }

.margin-s {
  margin-right: 10px; }

/** padding-top */
.padding-top-xl {
  padding-top: 40px; }

.padding-top-l {
  padding-top: 30px; }

.padding-top-m {
  padding-top: 20px; }

.padding-top-s {
  padding-top: 20px; }

/** padding-left */
.padding-left-xl {
  padding-left: 40px; }

.padding-left-l {
  padding-left: 30px; }

.padding-left-m {
  padding-left: 20px; }

.padding-left-s {
  padding-left: 10px; }

/** padding */
.padding-xl {
  padding: 40px; }

.padding-l {
  padding: 30px; }

.padding-m {
  padding: 20px; }

.padding-s {
  padding: 10px; }

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.center-flex__column {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.center-flex__space-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

/** colors */
.background-gray {
  background-color: #333333; }

.background-secondary {
  background-color: #0098D7; }

.background-primary {
  background-color: #313183; }

.background-white_secondary {
  background-color: #f2f2f2; }

.color-gray {
  color: #333333; }

.color-white {
  color: #ffffff; }

.color-primary {
  color: #313183; }

.color-secondary {
  color: #0098D7; }

/** Links */
a.primary-link {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
  color: #FF3100; }

a.primary-link:hover {
  color: #313183; }

.text-align-center {
  text-align: center; }

/*Font */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

/** Navigation* */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 1px 4px 13px 0px rgba(33, 33, 33, 0.17);
  -webkit-box-shadow: 1px 4px 13px 0px rgba(33, 33, 33, 0.17);
  -moz-box-shadow: 1px 4px 13px 0px rgba(33, 33, 33, 0.17); }

.header-logo {
  width: 250px;
  padding-left: 40px; }

.menu button {
  display: none; }

.menu {
  padding-right: 40px; }

ul.menu-list {
  display: inline-flex;
  list-style: none; }

ul.menu-list li a {
  margin-left: 40px;
  font-size: calc(30px - 10px);
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
  color: #333333; }

li.page-scroll.active a,
li.page-scroll a:hover {
  color: #FF3100; }

/**Navigation* */
/** half-container */
.container-50 {
  width: 50%;
  height: 80vh; }

.container-full {
  width: 100%;
  height: 100vh;
  display: inline-flex; }

/** Index */
.container-section {
  display: flex; }

.main-center__content img {
  width: 234px; }

.main-center__content {
  background-image: url(/image/background-main.svg);
  background-repeat: repeat-x;
  background-size: 100px;
  background-position: center; }

h1.title {
  font-size: calc(40px + 3px);
  color: #313183;
  line-height: 30px;
  margin-bottom: calc( 100px - 4px ); }

.link {
  color: #FF3100;
  text-decoration: none; }

.link:hover {
  cursor: pointer; }

footer {
  background: #FF3100;
  width: 100%;
  height: 100px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

ul.social-icons {
  list-style: none;
  display: flex;
  align-items: center; }

ul.social-icons li a {
  margin-left: 10px;
  color: #ffffff;
  font-size: 20px; }

ul.social-icons li:hover {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
