* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

/*Colors */
/* Colors */
/* Values */
/** margin-top */
.margin-top-100 {
  margin-top: 100px; }

.margin-top-xl {
  margin-top: 40px; }

.margin-top-l {
  margin-top: 30px; }

.margin-top-m {
  margin-top: 20px; }

.margin-top-s {
  margin-top: 10px; }

/** margin-left */
.margin-left-xl {
  margin-left: 40px; }

.margin-left-l {
  margin-left: 30px; }

.margin-left-m {
  margin-left: 20px; }

.margin-left-s {
  margin-left: 10px; }

/** margin-right */
.margin-right-xl {
  margin-right: 40px; }

.margin-right-l {
  margin-right: 30px; }

.margin-right-m {
  margin-right: 20px; }

.margin-right-s {
  margin-right: 10px; }

/** margin */
.margin-xl {
  margin-right: 40px; }

.margin-l {
  margin-right: 30px; }

.margin-m {
  margin-right: 20px; }

.margin-s {
  margin-right: 10px; }

/** padding-top */
.padding-top-xl {
  padding-top: 40px; }

.padding-top-l {
  padding-top: 30px; }

.padding-top-m {
  padding-top: 20px; }

.padding-top-s {
  padding-top: 20px; }

/** padding-left */
.padding-left-xl {
  padding-left: 40px; }

.padding-left-l {
  padding-left: 30px; }

.padding-left-m {
  padding-left: 20px; }

.padding-left-s {
  padding-left: 10px; }

/** padding */
.padding-xl {
  padding: 40px; }

.padding-l {
  padding: 30px; }

.padding-m {
  padding: 20px; }

.padding-s {
  padding: 10px; }

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.center-flex__column {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.center-flex__space-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

/** colors */
.background-gray {
  background-color: Sgray-color; }

.background-secondary {
  background-color: #0098D7; }

.background-primary {
  background-color: #313183; }

.background-white_secondary {
  background-color: #f2f2f2; }

.color-gray {
  color: #333333; }

.color-white {
  color: #fafafa; }

.color-primary {
  color: #313183; }

.color-secondary {
  color: #0098D7; }

/** Links */
a.primary-link {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
  color: red; }

a.primary-link:hover {
  color: #FF3100; }

.text-align-center {
  text-align: center; }

body {
  min-height: 100vh;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column; }

header {
  color: #313183;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  font-size: 16px;
  position: relative;
  background-color: #f2f2f2; }

header h1 {
  text-transform: uppercase;
  font-size: 1.7em;
  letter-spacing: 1px; }

.menu {
  display: flex; }

.menu button {
  display: none; }

.menu-list {
  list-style: none;
  display: flex; }

.menu-list li {
  display: inline-block;
  margin-left: 32px;
  font-size: 1.1em;
  cursor: pointer;
  transition: color 0.3s; }

.menu-list li.active,
.menu-list li:hover {
  color: #FF3100; }

.main {
  flex: 1;
  display: flex;
  align-items: center; }

.right img {
  width: 100%; }

.left {
  max-width: 45%;
  padding: 40px 64px; }

.right {
  padding: 40px 48px;
  width: 40vw; }

.title {
  color: red;
  font-size: 3.2em;
  width: 50%;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 48px; }

.msg {
  color: #333333;
  font-size: 1.1em;
  letter-spacing: 0.7px;
  line-height: 32px;
  margin-bottom: 48px; }

button.cta {
  border: none;
  outline: none;
  background-color: #313183;
  color: #fafafa;
  padding: 18px 32px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 30px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: opacity 0.9s; }

button.cta:hover {
  opacity: 0.9; }

footer {
  background-color: #f2f2f2; }

span.social-icons {
  width: 200px; }

span.social-icons a {
  color: #313183;
  transition: all 0.5s; }

span.social-icons a:hover {
  color: #0098D7; }

/* ----- Responsive ----- */
/*  -----    Mobile    -----  */
@media (max-width: 800px) {
  header, .left, .right {
    padding-left: 40px;
    padding-right: 40px; } }
@media (max-width: 650px) {
  .main {
    flex-direction: column; }

  .left, .right {
    width: 100%;
    max-width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 38vh; }

  .left {
    font-size: 0.8em; }

  .left * {
    width: 95%;
    margin-bottom: 32px;
    text-align: center; }

  button.cta {
    max-width: 60%; }

  .right img {
    display: none; }

  /* Nav Menu Responsiveness */
  .menu button {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    color: #313183;
    outline: none;
    font-size: 1.7em;
    cursor: pointer;
    z-index: 2; }

  .menu i.fa-times, .menu.opened i.fa-bars {
    display: none; }

  .menu.opened i.fa-times, .menu i.fa-bars {
    display: block;
    animation: enter 0.8s; }

  .center-flex__space-between {
    flex-flow: wrap; }

  span.social-icons {
    width: 100%;
    margin-top: 20px; }

  @keyframes enter {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  .menu-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: #313183;
    color: #fafafa;
    padding: 46px;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 80px;
    transform: translateX(100%);
    transition: transform 0.5s; }

  .menu-list li {
    font-size: 1.7em;
    margin: 32px 0px; }

  .menu.opened .menu-list {
    transform: translateX(0); }

  .menu.opened button {
    color: #fafafa; } }
/* ----- Responsive ----- */

/*# sourceMappingURL=style.css.map */
